body {
  font-family: "PT Sans";
  color: #333333;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  background-color: white;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 20px -5px black;
}

.container {
  background-color: white;
}

h1 {
  font-family: "PT Sans";
  color: black;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

h2 {
  font-family: "PT Sans";
  color: black;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.main-header {
  position: relative;
}

.logo {
  background-image: url("../img/logo.png");
  width: 138px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  display: block;
  font-size: 0;
  padding: 0px;
  z-index: 100;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  width: 20%;
  text-align: center;
  vertical-align: top;
  display: block;
  padding-top: 15px;
  padding-bottom: 13px;
}

.main-nav__item:nth-child(1),
.main-nav__item:nth-child(2) {
  float: left;
}

.main-nav__item:nth-child(3),
.main-nav__item:nth-child(4)
 {
  float: right;
}

.main-nav__link {
  text-decoration: none;
  font-family: "PT Sans";
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.welcome {
  margin-bottom: 53px;
}

.title {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  margin-bottom: 30px;
}

.reasons__main-title {
  text-align: center;
  margin-bottom: 55px;
}

.reasons__textblock {
  float: left;
  width: 400px;
  text-align: center;
}

.reasons__image {
  height: 256px;
  float: left;
  width: 800px;
}

.reasons__item {
  background-color: #81b3d2;
  color: white;
}

.reasons__title {
  color: inherit;
  padding-top: 52px;
  width: 155px;
  margin: 0 auto;
}

.reasons__bottom .reasons__title {
  padding-top: 44px 
}

.reasons__number {
  padding-top: 10px;
}

.reasons__text {
  padding-top: 10px;
  width: 290px;
  margin: 0 auto;
}

.reasons__item:nth-of-type(3) .reasons__text {
  width: 320px; 
}

.reasons__item:nth-of-type(3) .reasons__text {
  width: 320px; 
}

.info {
  margin-bottom: 82px;
  text-align: center;
}

.info__item {
  width: 400px;
  float: left;
}

.info__item--house::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 26px;
  background-image: url(../img/Layer%2012.png);
  background-repeat: no-repeat;
  background-position: 5px;
}

.info__item--food::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 26px;
  background-image: url(../img/Layer%2013.png);
  background-repeat: no-repeat;
  background-position: 5px;
}

.info__item--souvenir::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 26px;
  background-image: url(../img/Layer%2011.png);
  background-repeat: no-repeat;
  background-position: 10px 0;
}

.info__title {
  margin-bottom: 24px;
}

.info__text {
  width: 300px;
  margin: 0 auto;
}

.reasons__bottom {
  background-color: #eeeeee;
  padding-bottom: 60px;
}

.reasons__bottom .reasons__text {
  width: 280px 
}

.search {
  background-color: white;
  padding-top: 60px;
  position: relative;
}

.search__title,
.search__text {
  width: 440px;
  margin: 0 auto;
  text-align: center;
}

.search__title {
  margin-bottom: 37px;
  font-size: 30px;
}

.search__text {
  margin-bottom: 134px;
}

.search__image {
  position: relative;
  z-index: 50;
}

.searchform {
  width: 570px;
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  top: 205px;
  left: 50%;
  margin-left: -285px;
  background-color: white;
}

.searchform__legend {
  margin: 0 auto;
  text-align: center;
  width: 570px;
  background-color: #766357;
  color: white;
  padding: 30px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.seachform__container {
  border: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding-top: 62px;
  padding-left: 48px;
  
}

.searchform__quest {
  display: block;
  position: relative;
  width: 456px;
  padding-left: 6px;
  margin-bottom: 40px;
}

.searchform__ans {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: uppercase; 
  padding: 6px 13px;
  background-color: #f2f2f2;
  width: 320px;
  border: none;
  position: absolute;
  right: 0;
  top: -7px;
}

.questbox .searchform__quest {
  display: inline-block;
  width: auto;
  margin-top: -3px; 
}

.more,
.less {
  width: 38px;
  height: 38px;
  text-align: center;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: top;
}

.more {
  background-image: url(../img/more.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -4px;
}

.less {
  background-image: url(../img/less.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 34px;
}

.searchform__ans--short {
  width: 38px;
  padding: 6px 0;
  text-align: center;
  display: inline-block;
  position: static;
  margin-left: -4px;
}

.questbox {
  display: inline-block;
}

.questbox:nth-child(4) {
  margin-left: 44px;
}

.questbox:nth-child(4) .less {
  margin-left: 26px;
}

.searchform__btn {
  width: 458px;
  height: 59px;
  background-color: #81b3d2; 
  border: none;
  color: white;
  text-transform: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-top: 3px;
  margin-left: 55px;
  margin-bottom: 56px;
}


.main-footer .container {
  width: 1200px;
  height: 120px;
}

.main-footer--index .container {
  background-color: rgba(255,255,255,0.9);
  position: absolute;
  bottom: 0;
  z-index: 200;
}

.tag,
.social,
.copyright {
  width: 33%;
  float:left;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tag {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-top: 38px;
}

.social {
  padding-top: 24px;
  padding-left: 10px
}

.social__btn {
  display: inline-block;
  background-color: #81b3d2;
  width: 45px;
  height: 48px;
  font-size: 0px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 3px;
  
}

.social__btn--tw {
  background-image: url(../img/tw.png)
}

.social__btn--fb {
  background-image: url(../img/fb.png)
}

.social__btn--youtube {
  background-image: url(../img/yt.png)
}

.copyright {
  padding-top: 34px
}
.copyright__text {
  margin: 0;
  padding: 0;
  line-height: 26px;
  display: inline;
}

.copyright__link {
  background-image: url("../img/htmlacad.png");
  width: 113px;
  height: 39px;
  font-size: 0;
  padding: 0px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.filterform__item {
  float: left;
  width: 160px;
  border: none;
  color: white;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-right: 93px;
}

.filterform__item:nth-child(3) {
  float: right;
  width: 330px;
  padding-right: 40px;
}

.filterform {
  width: 1200px;
  height: 190px;
  background-image: url(../img/Layer%2061%20copy%206.jpg);
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-top: 29px;
  position: relative;
  z-index: 50;
}

.filterform__quest {
  font-weight: bold;
  font-size: 16px;
}

.filterform__item:nth-child(3) .filterform__quest {
  margin-left: -10px;
}

.filterform__checkbox {
  margin-right: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.filterform__ans {
  display: inline-block;
  margin-right: 40px;
  margin-top: 25px
}

.filterform__ans:last-child {
  margin-right: 0px;
}

.filterform__control{
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-top: 9px;
}

.filterform__control::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filterform__price {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.filterform__price--min,
.filterform__price--max {
  width: 90px;
  padding-left: 65px;
}

.filterform__input {
  width: 50px;
  margin: 0;
  margin-top: -1px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filterform__range {
  position: relative;
  margin-bottom: 32px;
}

.filterform__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filterform__bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.filterform__toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filterform__toggle:hover {
  background: #1c4f80;
}

.filterform__toggle--min {
  left: 0;
}

.filterform__toggle--max {
  left: 80%;
}

.filterform__btn {
  display: block;
  position: absolute;
  bottom: 33px;
  right: 230px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filterform__btn:hover {
  color: #000000;
  background: #ffffff;
}

.resultbox__header {
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.searchresult,
.sort {
  float:left;
}

.searchresult {
  margin-right: 40px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorttype {
  float: right;
}


.sort__text,
.sort__link {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  margin-top: 6px;
}

.sort__text {
  margin-right: 38px;
  margin-left: 6px
}

.sort__link {
  margin-right: 30px;
}

.sorttype__more,
.sorttype__less {
  font-size: 0px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.sorttype__more {
  background-image: url(../img/down.png);
}

.sorttype__less {
  background-image: url(../img/up.png);
  margin-right: 7px;
}

.rate{
  float:right;
  height: 90px;
  position: relative;
}

.result__image,
.result__text {
  float: left;
}

.result__title {
  margin-top: 0;
  margin-bottom: 7px;
  vertical-align: top;
}

.result__image {
  margin-right: 30px;
}

.result__type,
.result__price {
  display: inline-block;
}

.result__type {
  margin-right: 35px;
}

.result__item:nth-child(2) .result__type {
  margin-right: 60px;
}

.result__item:nth-child(3) .result__type {
  margin-right: 17px;
}

.result__item {
  padding: 30px 72px;
  border-bottom: 2px solid #e5e5e5;
  position: relative;
}

.result__item:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}

.result__btn {
  padding: 3px 18px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
}

.result__btn--more {
  background-color: #81b3d2;
  left: 236px;
}

.result__btn--book {
  background-color: #766357;
  left: 353px;
}

.rate__figure {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  padding: 4px 5px;
  text-align: center;
  background-color: #f2f2f2;
}

.rate__stars {
  position: absolute;
  top: 0;
  right: 0;
}

.rate__stars--four {
  background-image: url(../img/4stars.png);
  background-repeat: no-repeat;
  width: 90px;
  height: 20px;
}

.rate__stars--two {
  background-image: url(../img/stars.png);
  background-repeat: no-repeat;
  width: 41px;
  height: 20px;
}

.rate__stars--three {
  background-image: url(../img/3stars.png);
  background-repeat: no-repeat;
  width: 65px;
  height: 20px;
}